@model Leiturinha.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home";
}

    <!-- Header Start -->
    <div class="container-fluid bg-primary px-0 px-md-5 mb-5">
      <div class="row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left">
          <h1 class="display-3 font-weight-bold">
            LEITURINHA
          </h1>
          <p class="mb-4">
                O <strong>Leiturinha</strong> nasceu para que a escolha de livros infantis se torne um momento cheio de significado. Aqui, pais, professores e responsáveis podem descobrir novas leituras, deixar avaliações e compartilhar como foi a experiência com cada história.
          </p>
            <p class="mb-4">
                Mais do que um espaço de opiniões, o <strong>Leiturinha</strong> é um cantinho de troca e afeto — onde cada resenha ajuda outras famílias a encontrar livros que encantem, ensinem e criem memórias.
            </p>
            <a asp-controller="Home" asp-action="Livros" class="btn btn-secondary mt-1 py-3 px-5">Ver todos os livros</a>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
          <img class="img-header img-fluid mt-5" src="~/img/header/header3.jpg" alt="" />
        </div>
      </div>

    </div>
    <!-- Header End -->


<!-- Destaques Start -->
<section id="destaques" class="py-5 bg-light">
    <div class="container px-4 px-lg-5">
        <div class="text-center pb-4">
            <h1 class="mb-4">Explore todos os Livros em Destaque</h1>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
            @if (Model.Destaques != null && Model.Destaques.Any())
            {
                foreach (var destaque in Model.Destaques)
                {
                    var livro = destaque.Livro;
                    <div class="col mb-5">
                        <div class="card border-0 bg-white shadow-sm h-100">
                            @if (!string.IsNullOrEmpty(livro.Capa))
                            {
                                <img class="card-img-top" src="@Url.Content(livro.Capa)" alt="@livro.Titulo" />
                            }
                            else
                            {
                                <img class="card-img-wrapper" src="@Url.Content("~/img/livro-sem-imagem.jpg")" alt="@livro.Titulo" />
                            }

                            <div class="card-body text-center">
                                <h4 class="card-title">@livro.Titulo</h4>
                                
                            </div>
                            <div class="card-footer bg-transparent py-3 px-4">
                                <div class="d-flex justify-content-between mb-2">
                                    <div class="text-primary"><strong>Gênero</strong></div>
                                    <div><strong>@livro.Genero?.Nome</strong></div>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <div class="text-primary"><strong>Classificação</strong></div>
                                    <div><strong>@livro.ClassificacaoIndicativa?.FaixaEtaria</strong></div>
                                </div>
                                @{
                                    var estrelas = Math.Round(destaque.MediaEstrelas);
                                }
                                <span class="text-warning fs-5">
                                    @for (int i = 0; i < estrelas; i++)
                                    {
                                        @:⭐
                                    }
                                </span>

                            </div>

                            <a asp-controller="Home" asp-action="Livro" asp-route-id="@livro.Id" class="btn btn-ver-mais mx-auto mb-4">Ver mais</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <h3 class="text-center">Nenhum livro em destaque no momento.</h3>
            }

        </div>
    </div>
</section>
<!-- Destaques End -->





