@model List<Leiturinha.ViewModels.LivroVM>
@{
    ViewData["Title"] = "Livros";
}

<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5">
        <div class="text-center pb-4">
            <h1 class="mb-4">Explore Todos os Livros</h1>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
            @if (Model != null && Model.Any())
            {
                foreach (var destaque in Model)
                {
                    var livro = destaque.Livro;
                    <div class="col mb-5">
                        <div class="card border-0 bg-white shadow-sm h-100">
                            @if (!string.IsNullOrEmpty(livro.Capa))
                            {
                                <img class="card-img-top" src="@Url.Content(livro.Capa)" alt="@livro.Titulo" />
                            }
                            else
                            {
                                <img class="card-img-wrapper" src="@Url.Content("~/img/livro-sem-imagem.jpg")" alt="@livro.Titulo" />
                            }

                            <div class="card-body text-center">
                                <h4 class="card-title">@livro.Titulo</h4>
                            </div>
                            <div class="card-footer bg-transparent py-3 px-4">
                                <div class="d-flex justify-content-between mb-2">
                                    <div class="text-primary"><strong>Gênero</strong></div>
                                    <div><strong>@livro.Genero?.Nome</strong></div>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <div class="text-primary"><strong>Classificação</strong></div>
                                    <div><strong>@livro.ClassificacaoIndicativa?.FaixaEtaria</strong></div>
                                </div>
                                @{
                                    var estrelas = Math.Round(destaque.MediaEstrelas);
                                }
                                <span class="text-warning fs-5">
                                    @for (int i = 0; i < estrelas; i++)
                                    {
                                        @:⭐
                                    }
                                </span>
                            </div>
                            <a asp-controller="Home" asp-action="Livro" asp-route-id="@livro.Id" class="btn btn-primary px-4 mx-auto mb-4">Ver mais</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <h3 class="text-center">Nenhum livro disponível no momento.</h3>
            }
        </div>
    </div>
</section>